{% extends 'base.html.twig' %}

{% block title %}Edit Blog{% endblock %}

{% block body %}
    <h1>Edit Blog</h1>



    {{ include('blog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('blog_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('blog/_delete_form.html.twig') }}
    {% elseif is_granted('ROLE_USER') %}

    {% else %}

    {% endif %}


{% endblock %}
